*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
.container{
    max-width: 1200px;
}

 .container-sm{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 


.margin-container{
    margin: 0 auto;
}

.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-75{
    padding: 75px;
}


.padding-10-0{
    padding: 10px 0;
}

.row{
    max-width: 991px;
    display: flex;
    justify-content: center;
}

.col-15{
    width: 15%;
}

.col-16{
    width: 16%;
}

.col-30{
    width: 30%;
}

.col-32{
    width: 32%;
}

.col-70{
    width: 70%;
}

.col-80{
    width: 80%;
}

.col-100{
    width: 100%;
}

.height-50{
    height: 50px;
}

.height-250{
    height: 250px;
}

.height-300{
    height: 300px;
}

.height-500{
    height: 500px;
}

.display-col-h{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.border-col{
    border: 2px dashed black;
}

.border-radius{
    border-radius: 40%;
}


/* COLORS  */
.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-black{
    background-color: black;
}



.bg-gray{
    background-color: rgb(234, 230, 230);
}

.bg-green{
    background-color: green;
}

.bg-white{
    background-color: white;
}

.white{
    color: white;
}

.black{
    color: black;
}



/* HEADER  */
header{
    height: 75px;
    background-color: rgb(98, 116, 231);
    padding: 10px 0;
}

.logo{
     width: 100%; 
     height: 100%;
}

.bg-h{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    
}





/* MAIN  */
.img{
    height: 100%;
    width: 100%;
    size: 100%;
}

.width-fit{
    width: fit-content;
}


.bg-stars{
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
}

h2{
    padding: 20px;
    font-size: 40px;
}

.content-30{
    text-align: center;
    
    
}

/* FOOTER  */
footer{
    background-color: rgb(120, 117, 117);
}


br{
    background-color: grey;
    margin: 10px;
}

.side{
    height: 20px;
    width: 100px;
    align-self: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.content-f{
    display: flex;
    justify-content: space-between;
    padding: 70px 0; 
}



ul{
    list-style-type: none;
    line-height: 2.5;
   
}

h3{
    color: blue;
    padding: 20px;
}

button{
    border: none;
}
